:root {
  overflow: scroll;

  font-family: Alef, Miriam Libre, Arimo, Inter, system-ui, Avenir, Helvetica,
    Arial, sans-serif;
}

body {
  overflow: scroll;
  margin: 0;
  min-width: 100vw;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 4px;
  height: 3px;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: #e6e6e6;
  border-radius: 3px;
}
