* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

.header {
    padding: 70px 25px;
    width: 100%;
    text-align: center;
}

.header ul {
    margin: 0;
    padding: 0;
}

.header ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.header .prev {
    float: left;
    padding-top: 10px;
}

.header .next {
    float: right;
    padding-top: 10px;
}